<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="Css/admin.css">
    <title>Secret Coffee - Shop</title>
    <style>.bar { fill: steelblue; }</style>
  
</head>
<body>
    <%- include('./header.ejs');%>

    <div class="modal fade" id="updateProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Update Capsule</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="update-product-form">
              <div class="mb-3">
                <label for="name" class="form-label">Name Of Capsule</label>
                <input type="text" class="form-control"   name="Name" id="Name"  required>
              </div>
              <div class="mb-3">
                <label for="origin" class="form-label">Origin</label>
                <input type="text" class="form-control"   name="origin" id="origin" required>
              </div>
              <div class="mb-3">
                <label for="origin" class="form-label">Type</label>
                <input type="text" class="form-control"   name="type" id="type" required>
              </div>
              <div class="mb-3">
                <label for="origin" class="form-label">Intensity</label>
                <input type="text" class="form-control"   name="intensity" id="intensity" required>
              </div>
              <div class="mb-3">
                <label for="origin" class="form-label">Flavor</label>
                <input type="text" class="form-control"   name="flavor" id="flavor" required>
              </div>
              <div class="mb-3">
                <label for="origin" class="form-label">Price</label>
                <input type="text" class="form-control"  name="price" id="price" required>
              </div>
              <button type="submit" class="btn btn-primary" id="updateProductButton">Update Now</button>
            </form>
          </div>
          <div class="modal-footer">
    
          </div>
        </div>
      </div>
    </div>

    <!--<div class="toggle-buttons">
      <button class="btn btn-primary" id="show-users">Users</button>
      <button class="btn btn-secondary" id="show-products">Products</button>
    </div>-->

    
  <div class="table-Users">
    <div id="table-name">Users Table</div>
   

      <!-- Pop Up User Model -->
            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Register a new user
</button>

<!-- Add User Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Register a new user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="add-user-form" action="/register" method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Email</label>
            <input type="text" class="form-control" id="username" name="email" required>
          </div>
          <div class="mb-3">
            <label for="origin" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" name="password" required>
          </div>
          <div class="mb-3">
            <label for="origin" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" required>
          </div>
          <div class="mb-3">
            <label for="origin" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" required>
          </div>
          <div class="mb-3">
            <label for="origin" class="form-label">Country</label>
            <input type="text" class="form-control" id="country" name="country" required>
          </div>
          <div class="mb-3">
            <label for="origin" class="form-label">Adress</label>
            <input type="text" class="form-control" id="adress" name="address" required>
          </div>
          <div class="mb-3">
            <label for="origin" class="form-label">Postal Code</label>
            <input type="text" class="form-control" id="postalcode" name="postalcode" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- End of Add User Model -->
  
     <!-- End of pop up user model -->
     
    <table id="users-table" class="display" >
        <thead> 
          <tr>
            <th>UserName</th>
            <th>first Name</th>
            <th>Last Name</th>
            <th>Country</th>
            <th>Date Created</th>
            <th>Action</th>
          </tr>
        </thead>
        </table>
      </div>




      <div class="table-Product">
        <div class="product-name">Products Table</div>
                 <!-- Pop Up User Model -->
        <div class="addproduct">
                <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
      Add a new capsule
    </button>
    
    
    <!-- Add Product Modal -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">New Capsule Form</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="add-product-form">
              <div class="mb-3">
                <label for="name" class="form-label">Name Of Capsule</label>
                <input type="text" class="form-control"   name="name" required>
              </div>
              <div class="mb-3">
                <label for="origin" class="form-label">Origin</label>
                <input type="text" class="form-control"   name="origin" required>
              </div>
              <div class="mb-3">
                <label for="origin" class="form-label">Type</label>
                <input type="text" class="form-control"   name="type" required>
              </div>
              <div class="mb-3">
                <label for="origin" class="form-label">Intensity</label>
                <input type="text" class="form-control" name="intensity" pattern="\d+">
              </div>
              <div class="mb-3">
                <label for="origin" class="form-label">Flavor</label>
                <input type="text" class="form-control"   name="flavor" required>
              </div>
              <div class="mb-3">
                <label for="origin" class="form-label">Price</label>
                <input type="text" class="form-control"  name="price" required>
                <small class="text-muted">Enter a valid price (e.g., 10 or 10.99)</small>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
    
          </div>
        </div>
      </div>
    </div>
    <!-- End of Add User Model -->
        </div>
         <!-- End of pop up user model -->
        <table id="products-table" class="display">
          <thead> 
            <tr>
              <th>Name</th>
              <th>Origin</th>
              <th>Flavor</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          </table>
          </div>
          

          <div class="table-Orders">
            <div class="order-name">Orders Table</div>
          <!-- Start of Orders Table -->
          <table id="orders-table" class="display">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Items</th>
                    <th>Total Cost</th>
                    <th>Order Date</th>
                    
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>


<h3>Products Per Country:</h3>
 <svg width="800" height="400"></svg>




      



          <%- include('./footer.ejs');%>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script> 
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.css">
    <script src="https://d3js.org/d3.v6.min.js"></script> <!-- D3.js is the library for the charts -->
    <script src="Js/admin.js"></script>
    
    




</body>
</html>
