<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <div style="margin: 10px;">Username <input type="text" name="username"  placeholder="enter username" id="username"></div>
        <div style="margin: 10px;">Password <input type="text" name="password"  placeholder="enter password" id="password"></div>
        <div style="margin: 10px;"> <input type="button" onclick="submitForm()" name="sub_button"   id="sub_button"></div>
    </form>

    <!-- Indluding the JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script>
        function submitForm(){
            var username= $('#username').val();
            var password= $('#password').val();
            
            var formData={username:username,password:password};

            $.ajax({
                url:"localhost:80/register",
                type: "POST",
                data:formData,
                success:function(response)
                {
                    console.log('Register successfully')
                } 
            })
        }
    </script>
</body>
</html>