     <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <img src="Gallery/logo.png" width="50" height="50" alt="">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="/" style="hover{cursor: pointer;}">Secret Coffee</a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/allproducts" >Store</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Contact us</a>
                  </li>

                    <%if(username!=null){%>
                  <li  class="userwelcome">
                    Hello <%=username%>
                   </li>
                   <%}%>
              </ul>
              <%if(username==null){%>
              <ul class="navbar-nav mr-right">
                  <li class="nav-item">
                      <a class="nav-link"  href="/login" id="login">
                          login
                      </a>
                  </li>
                 
                  <li class="nav-item">
                      <a class="nav-link" href="/register"  id="Register">
                          Register
                      </a>
                  </li>
                  <li>
                      <button type="button" class="btn btn-link"><span class="bi bi-cart black-color"></span></button>
                  </li>
              </ul>
              <%}else{%>
                <ul class="navbar-nav mr-right">
                  <li class="nav-item">
                      <a class="nav-link"  href="/login" id="login">
                          Manager Page
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="/logout" id="logout">
                        Logout
                    </a>
                </li>
                <li>
                    <button type="button" class="btn btn-link"><span class="bi bi-cart black-color"></span></button>
                </li>
                  <%}%>

              </ul>
              
          </div>
      </nav>
  </header>