.table-Users {
    max-width: 80%; /* Control the width of the table */
    margin: 0 auto; /* Center the table on the page */
    border: 2px solid #dcdcdc; /* Thin border */
    border-radius: 10px; /* Rounded borders */
}
#table-name{
    text-align: center;
    font-size: 25px;
    color:blue;
}

.table-Product {
    max-width: 80%; /* Control the width of the table */
    margin: 0 auto; /* Center the table on the page */
    margin-top: 50px;
    border: 2px solid #dcdcdc; /* Thin border */
    border-radius: 5px; /* Rounded borders */
}
.product-name{
    text-align: center;
    font-size: 25px;
    color:blue;
}

.toggle-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10px;
    margin-bottom: 20px;
}
.adduser{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10px;
    
}
  

